<div class="container">
  <div class="text-center">
    <div class="input-container">
      <input id="taskInput" [(ngModel)]="newTask" (keyup.enter)="submit()" type="text">
      <button class="material-icons" (click)="submit()">add</button>
    </div>
    <div class="row">
      <div class="col md-8">
        <ul class="list-group list-group-flush task-list">
          <li class="list-group-item d-flex justify-content-between task" *ngFor="let task of tasks | taskOrder; let i = index">
              <div contenteditable="true" (blur)="updateTask(task, $event);">{{ task.title }}</div>
              <div *ngIf="task.status === 0;then doneButton; else removeButton"></div>
              <ng-template #doneButton>
                  <span class="material-icons badge-pill done-button" (click)="finishTask(task)" style="color:#007bff;">done</span>
              </ng-template>
              <ng-template #removeButton>
                  <span class="material-icons badge-pill done-button" (click)="removeTask(task)" style="color:#dc3545;">clear</span>
              </ng-template>
          </li>
        </ul>
      </div>
      <div class="col md-4">
        <p>Need some help to finish your tasks?</p>
        <div class="list-group task-list">
          <a class="list-group-item d-flex" *ngFor="let suggestion of suggestions" [href]="suggestion.url">{{suggestion.name}}</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
