<div class="container">
  <div class="text-center">
    <div class="input-container">
      <input id="taskInput" [(ngModel)]="newTask" (keyup.enter)="submit()" type="text">
      <button class="material-icons" (click)="submit()">add</button>
    </div>
    <ul class="list-group list-group-flush task-list">
      <li class="list-group-item d-flex justify-content-between task" *ngFor="let task of tasks">
          {{ task.title }}
          <span class="material-icons badge-pill done-button" (click)="finishTask()" style="color:#007bff;">done_outline</span>
      </li>
    </ul>
  </div>
</div>
